.programm{
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    height: auto;
    width: 870px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 3px;
}

.profile{
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    height: auto;
    width: 790px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 3px;
}

.proinhalt{
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    height: auto;
    width: 530px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 6px;
    margin-top: 3px;
}

#inhalt{
    padding: 2px;
    margin-right: 4px;
    margin-left: 4px;
    text-align: left;
}

.d2{
    text-align: center;
}

.pbild{
    width: 40px;
    height: 40px;
}
