sqlite3
ftplib
auto-py-to-exe
bcrypt
validators
psutil
urllib3

SSL Zertbot Vorbereitung mit no-ip in "Downloads"
https://tutorials-raspberrypi.de/raspberry-pi-ssl-zertifikat-kostenlos-mit-lets-encrypt-erstellen/
